body{
	font-family: sans-serif;
	position: absolute;
}
img{
	width: 85%;
}
a{
	text-decoration: none;
	color: black;
}
.header{
        padding-bottom: 50px;
}
.list h1{
	text-transform: uppercase;
	font-size: 2rem;
	margin-left: 9rem;
}
.list ul{
	list-style: none;
	font-weight: 500;
	display: flex;
	justify-content: center;
	font-size: 1rem;
}
.list ul li{
	display: inline-block;
}
.list ul li a{
	padding: 12px;
}
.list ul li a:hover{
	color: mediumpurple;
}
.list{
	display: flex;
	justify-self: flex-end;
	align-items: center;
	justify-content: center;
	font-size: 1.2rem;
	padding-top: 0.3rem;
	padding-bottom: 0.3rem;
}
.header .list{
	display: grid;
	grid-template-columns: repeat(2, 1fr)
}
.container{
	font-size: 20px;
	line-height: 1.3;
	padding-left: 145px;
	display: grid;
	grid-template-columns: repeat(2, 1fr)
}
.container h1{
	line-height: 1.4;
	font-size: 4.5rem;
}
#future{
	margin: 2rem 0;
	display: flex;
	flex-direction: column;
}
.future{
	display:
}
.content{
	background-image:url(gal4958.jpg);
	background-repeat: no-repeat;
	position: relative;
	background-size: cover;
	background-position: center;
	height: 600px;
}
.design h2{
	font-size: 5rem;
	margin-top: 1rem;
}
.music h3{
	font-size: 2rem
}
.design{
	background-color: rgba(0,0,0,0.6);
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
}
.music{
	color: white;
	height: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	margin: auto;
	max-width: 860px;
	padding: 5rem 0;
}
.design p{
	font-size: 1.5rem;
	margin-top: 1rem;
	margin-bottom: 250px;
	line-height: 1.6;
}
.button{
	text-decoration: none;
	display: inline-block;
	background-color: black;
	color: white;
	padding: 0.8rem 1.5rem;
	border: none;
	border-radius: 30px;
	font-size: 1.1rem;
	cursor: pointer;
}
.button:hover{
	background: white;
	color: black;
}
h2, h3{
	line-height: 1.3;
}
article{
	background: #333;
	color: #fff;
	padding: 4rem;
}
article > div{
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-gap: 1rem;
}
article > div img{
	width: 30px;
	margin: 10px 5px;
}
article h2{
	font-size: 2rem;
	margin-bottom: 1rem;
}
article h3{
	margin-bottom: 0.7rem;
}
article > div li{
	line-height: 1.9;
	color: white;
} 
#grid2{
	padding-left: 45px;
}
.grid1{
	padding-left: 73px;
}
